#content {
    width: 1340px;
    height: 610px;
    padding-top: 28px;
    margin: auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
}

img {
    width: 100%;
    height: 100%;
}

.cardNumber,
.cardImage {
    margin-left: 30%;
    margin-top: 2.5%;
    width: 60%;
    height: 40%;
}

.card {
    margin-left: 9.5%;
    width: 20%;
    height: 100%;
    display: inline-block;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.deck {
    width: 12.5%;
    height: 40%;
    margin-left: 8%;
    margin-top: -39%;
    position: absolute;
}

.deck:hover .verso1 {
    transition: 100ms;
    margin-top: 10%;
}

.verso2 {
    position: absolute;
    margin-left: -100%;
    z-index: -1;
}

.divButton {
    width: 100%;
    height: 100%;
    position: absolute;
}

.button {
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.divButton:hover .button {
    transition: 100ms;
    margin-top: 10%;
}

.divButton2 {
    margin-top: -10%;
    margin-left: 8%;
    width: 12.5%;
    height: 10%;
    position: absolute;
}

.button2 {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 4px 0 rgba(66, 138, 221, 0.2), 0 0 0 1px rgba(37, 147, 211, 0.15);
    background-color: rgba(109, 187, 231, 0.2);
    border: none;
    outline: 0;
}

.divButton2:hover .button2 {
    margin-top: -1.5%;
    margin-left: -5%;
    width: 110%;
    height: 110%;
    box-shadow: 0 1px 4px 0 rgba(111, 111, 226, 0.2), 0 0 0 1px rgba(81, 56, 221, 0.15);
    background-color: rgba(68, 137, 216, 0.3);
    cursor: pointer;
}

.divButton2:active .button {
    box-shadow: 0 1px 5px 0 rgba(12, 12, 13, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}

.divButton2 label {
    transition: 100ms;
    position: absolute;
    font-size: 18px;
    margin-top: 23px;
    margin-left: 12px;
    font-family: Georgia, serif;
    -webkit-user-select: none;
}

.divButton2:hover label {
    font-size: 19px;
    margin-left: 9px;
    cursor: pointer;
}

.divButton3 {
    margin-top: -4%;
    margin-left: 8%;
    width: 12.5%;
    height: 10%;
    position: absolute;
}

.button3 {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 4px 0 rgba(66, 138, 221, 0.2), 0 0 0 1px rgba(37, 147, 211, 0.15);
    background-color: rgba(109, 187, 231, 0.2);
    border: none;
    outline: 0;
}

.divButton3:hover .button3 {
    margin-top: -1.5%;
    margin-left: -5%;
    width: 110%;
    height: 110%;
    box-shadow: 0 1px 4px 0 rgba(111, 111, 226, 0.2), 0 0 0 1px rgba(81, 56, 221, 0.15);
    background-color: rgba(68, 137, 216, 0.3);
    cursor: pointer;
}

.divButton3:active .button {
    box-shadow: 0 1px 5px 0 rgba(12, 12, 13, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}

.divButton3 label {
    transition: 100ms;
    position: absolute;
    font-size: 18px;
    margin-top: 23px;
    margin-left: 12px;
    font-family: Georgia, serif;
    -webkit-user-select: none;
}

.divButton3:hover label {
    font-size: 19px;
    margin-left: 9px;
    cursor: pointer;
}